* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

.container {
    background: linear-gradient(to bottom right, rgba(224, 49, 49, 0.8), rgba(134, 46, 156));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.add-container {
    background-color: #f1f3f5;
    width: 50rem;
    text-align: center;
    padding: 3rem 5rem;
    border-radius: 8px;

}
.error-message {
    background-color: rgba(228, 11, 11, 0.8);
    color: #f1f3f5;
    align-self: center;
    width: 38rem;
    padding: 2rem 1rem;
    border-radius: 8px;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    transition: all .3s linear;

    opacity: 1;
    transform: translateX(0%);
}
.error-message-hidden {
    opacity: 0;
    transform: translateX(-100%);
}
.add-input {
    display: inline-block;
    width: 80%;
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.add-label {
    display: inline-block;
    padding: 0.8rem;
    font-size: 1.6rem;
    background-color: #ff8787;
    border-radius: 0.8rem;

    cursor: pointer;
}
.edit-label {
    background-color: #2f9e44 !important;
}


.todos-container {
    background-color: #868e96;
    width: 50rem;
    padding: 3rem 5rem;
    border-radius: 8px;

    position: relative;
}

.todos-list {
    list-style: none;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todos-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;

    background-color: #f1f3f5;
    border-radius: 0.8rem;
}
.icons {
    display: flex;
    gap: 1.2rem;
}
.edit {
    color: #2b8a3e;
    cursor: pointer;
}
.trash {
    color: red;
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.btn-clear {
    position: absolute;
    top: -3rem;
    right: -6rem;

    display: block;
    align-self: center;
    padding: 1rem 1.6rem;
    border-radius: 10px;
    background-color: #fa5252;
    cursor: pointer;

}


